@tailwind base;
@tailwind components;
@tailwind utilities;

.plus-jakarta sans-plus {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.blackText {
  color: #2f2f2f;
}
* {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.cardContent {
  /* background-image: url(./assets/cardBg.png); */
}

.cardContent:hover {
  /* background-color: red; */
  background-image: url(./assets/cardBg.png);
  transition: background-image 1s;
  background-repeat: no-repeat;
  transition: all 5s;
  background-size: cover;
  opacity: 1;
  transform: translateY(0);
}

.cardTextContent {
  height: 100px;
  overflow: hidden;
}

.cardTextContent::-webkit-scrollbar {
  display: none;
}

.cardContent:hover .cardTextContent {
  overflow: auto;
  height: 200px;
  transition: all 0.3s;
}

/* animated circulat text css */

.circle {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.text {
  position: absolute;
  width: 100%;
  border-radius: 50%;
  height: 100%;
  font-family: consolas;
  color: #000;
  font-size: 17px;
  animation: textRotation 10s linear infinite;
}

@keyframes textRotation {
  to {
    transform: rotate(360deg);
  }
}

.text span {
  position: absolute;
  left: 50%;
  top: 0%;
  font-size: 12px;
  color: white;
  transform-origin: 0 75px;
}

/* blog css  */
.blog_card:hover {
  border: 1px solid rgba(241, 110, 34, 1);
  transition: all 1s;
  /* padding:10px */
}

/* Dashboard css  */
.card-container {
  position: relative;
  /* overflow: hidden; */
}

.card-container::before {
  content: '';
  position: absolute;
  top: -65px;
  left: 50%;
  transform: translateX(-50%);
  width: 130px;
  height: 64px;
  background: white;
  /* border-radius: 100%; */
  /* border: 1px solid #00AEB8; */
  z-index: 0;
}
.card-container::after {
  content: '';
  position: absolute;
  top: -63px;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 110px;
  background: white;
  border-radius: 100%;
  border: 1px solid #00aeb8;
  z-index: -1;
}

.card-container svg {
  position: relative;
  z-index: 2;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 5px !important;
  background-color: transparent;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(253 186 116);
  border-radius: 50px;
}
.phone_no input {
  width: 258px !important;
  height: 41px !important;
  border-color: #e5e7eb !important;
}
.phone_no .flag-dropdown {
  background-color: #fff !important;
  border-color: #e5e7eb !important;
}
.phone_no .country-list {
  width: 258px !important;
}
[type='radio']:checked,
[type='radio']:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type='radio']:checked + label,
[type='radio']:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
[type='radio']:checked + label:before,
[type='radio']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  border: 1px solid #f16e22;
  background: #f7f7f7;
}
[type='radio']:checked + label:after,
[type='radio']:not(:checked) + label:after {
  content: '';
  width: 10px;
  height: 10px;
  background: #f16e22;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type='radio']:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type='radio']:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
