@tailwind base;
@tailwind components;
@tailwind utilities;

.plus-jakarta sans-plus {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.blackText {
  color: #2f2f2f;
}
* {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.cardContent {
  /* background-image: url(./assets/cardBg.png); */
}

.cardContent:hover {
  /* background-color: red; */
  background-image: url(./assets/cardBg.png);
  transition: background-image 1s;
  background-repeat: no-repeat;
  transition: all 5s;
  background-size: cover;
  opacity: 1;
  transform: translateY(0);
}

.cardTextContent {
  height: 100px;
  overflow: hidden;
}

.cardTextContent::-webkit-scrollbar {
  display: none;
}

.cardContent:hover .cardTextContent {
  overflow: auto;
  height: 200px;
  transition: all 0.3s;
}

/* animated circulat text css */

.circle {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.text {
  position: absolute;
  width: 100%;
  border-radius: 50%;
  height: 100%;
  font-family: consolas;
  color: #000;
  font-size: 17px;
  animation: textRotation 10s linear infinite;
}

@keyframes textRotation {
  to {
    transform: rotate(360deg);
  }
}

.text span {
  position: absolute;
  left: 50%;
  top: 0%;
  font-size: 12px;
  color: white;
  transform-origin: 0 75px;
}

/* blog css  */
.blog_card:hover {
  border: 1px solid rgba(241, 110, 34, 1);
  transition: all 1s;
  /* padding:10px */
}
